<div class="container">
    <h1>Firma de Archivos</h1>
    
    <div class="card">
      <div class="card-header">
        Firma documento
      </div>
      <div class="card-body">
        <h5 class="card-title">Escoger archivo</h5>
        <input type="file" id="file" (change)="uploadFile($event.target.files)" accept=".pdf,.doc,.docx">
        
        <button class="btn-success" type="submit" (click)="consultarEstado()">Consultar Estado</button>
      
        <button class="btn-primary" type="submit" (click)="descargarPDFFirmado()">Descargar PDF Firmado</button>
      </div>
    </div>
  </div>

  <br>
  <div class="card">
    <div class="card-header">
      Firma en lotes
    </div>
    <div class="card-body">
      <h5 class="card-title">Escoger múltiples archivos</h5>
      <input type="file" id="file"  class="estiloFiles"    (change)="uploadFiles($event.target.files)" accept=".pdf" multiple>
    <button class="btn-danger estiloBotonZip" type="submit"  (click)="descargarZIPFirmado()">Descargar ZIP Firmado</button>
    </div>
  </div>

   
  
    
  
  
